---
layout: pageIndex
permalink: /index.html
title: 'Tolstoy.life'
description: 'An encyclopedic reference covering the life and works of Leo Tolstoy.'
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
intro: "INTRO: Lorem ipsum intro An encyclopedic reference covering the life and works of Leo Tolstoy."
---

<div class="region feature">
<custom-masonry>
   <div style="background-color: var(--color-accent-amber); aspect-ratio: 3/2;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-green); aspect-ratio: 4/5;"></div>
    <div style="background-color: var(--color-accent-amber);"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue); aspect-ratio: 5/4;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue);"></div>
    <div style="background-color: var(--color-accent-amber); aspect-ratio: 16/9;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-amber); aspect-ratio: 3/2;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-green); aspect-ratio: 4/5;"></div>
    <div style="background-color: var(--color-accent-amber);"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue); aspect-ratio: 5/4;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue);"></div>
    <div style="background-color: var(--color-accent-amber); aspect-ratio: 16/9;"></div>
    <div></div>
</custom-masonry>
</div>


<style>
  custom-masonry div {
    inline-size: min(30rem, 100%);
    aspect-ratio: 1;
    background-color: var(--color-text);
  }
</style>
