---
layout: base
title: 'tolstoy.life'
description: 'An encyclopedic reference covering the life and works of Leo Tolstoy.'
---
<h1>tolstoy.life</h1>
<p>An encyclopedic reference covering the life and works of Leo Tolstoy.</p>
